<h1><%= @resto.titre%></h1>
<p> Catégorie: <%=@resto.categorie%> </p>
<p> Description: <%= @resto.description%> </p>
<p> Id du restaurant: <%= @resto.id %>
<p><a href="/restaurants/<%= @resto.id %>/edit">Editer la fiche Restaurant</a> -
<a href="/restaurants">Retourner à l’accueil</a></p>
